// Breakpoints
$breakpoint-extra-small: 0px;
$breakpoint-small: 600px;
$breakpoint-medium: 900px;
$breakpoint-large: 1200px;
$breakpoint-extra-large: 1536px;

// Container Sizes
$container-extra-small: 100%;
$container-small: 600px;
$container-medium: 900px;
$container-large: 1200px;
$container-extra-large: 1200px;
